@import "tailwindcss";

:root {
  /* Backgrounds */
  --background: #dde6ef;
  --surface: #f3f9ff;
  --paper: #C1CDD9;
  --modal: #9EADBD;

  /* Text */
  --foreground: #000000;
  --foreground-muted: #45525f;

  /* Brand */
  --primary: #0080ff;
  --primary-hover: #0071e4;
  --primary-dark: #0058b0;
  --primary-deep: #004080;

  /* States */
  --success: #00cb3a;
  --warning: #ffb700;
  --danger: #ff0000;

  /* Borders */
  --border: #9EADBD;
}

.dark {
  --background: #21272d;
  --surface: #2f3943;
  --paper: #45525F;
  --modal: #5C6E7F;

  --foreground: #ffffff;
  --foreground-muted: #c1cdd9;

  --primary: #0080ff;
  --primary-hover: #0071e4;
  --primary-dark: #0058b0;
  --primary-deep: #004080;

  --success: #00cb3a;
  --warning: #ffb700;
  --danger: #cd0000;

  --border: #45525f;
}

@theme inline {
  /* Colores */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-paper: var(--paper);
  --color-modal: var(--modal);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-dark: var(--primary-dark);
  --color-primary-deep: var(--primary-deep);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --color-border: var(--border);

  /* Fuentes */
  --font-sans: var(--font-fredoka);
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}